@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

.underline-hover::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width 0.2s ease;
}

.underline-hover:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

html {
  scroll-behavior: smooth;
}
